<footer class="footer">
  <p>Copyright &copy;2015 书志 All Rights Reserved.<br>
</footer>
<script type="text/javascript" src="__HUI__/lib/jquery.min.js"></script>
<script type="text/javascript" src="__HUI__/lib/layer1.8/layer.min.js"></script>
<script type="text/javascript" src="__HUI__/lib/laypage/laypage.js"></script>
<script type="text/javascript" src="__HUI__/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__HUI__/lib/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__HUI__/js/H-ui.js"></script>
<script type="text/javascript" src="__JS__/admin.js"></script>
<script type="text/javascript" src="__HUI__/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__HUI__/js/H-ui.admin.doc.js"></script>
<script type="text/javascript" src="__HUI__/lib/Validform_v5.3.2.js"></script> 
<block name='script'></block>

 
