<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__HUI__/lib/html5.js"></script>
<script type="text/javascript" src="__HUI__/lib/respond.min.js"></script>
<script type="text/javascript" src="__HUI__/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__HUI__/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__HUI__/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__HUI__/lib/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="__HUI__/lib/font-awesome/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="__HUI__/lib/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="__HUI__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title><notempty name='$meta_title' >{$meta_title}<else/>书志</notempty></title>
</head>
<block name='style'></block>