<header class="Hui-header cl">
	<a class="Hui-logo l" title="H-ui.admin v2.2" href="<{:U('index')}>">后台管理-书志</a> 
	<a class="Hui-logo-m l" href="/" title="H-ui.admin">书志</a> 
		<span class="Hui-subtitle l">V1.0</span> <span class="Hui-userbox">
		<span class="c-white">超级管理员：<{:get_admin_name()}></span> 
		<a class="btn btn-danger radius ml-10" href="<{:U('Public/logout')}>" title="退出">
		<i class="icon-off"></i> 退出</a></span> 
		<a aria-hidden="false" class="Hui-nav-toggle" href="#"></a>
</header>