<nav class="breadcrumb">
<i class="iconfont">&#xf012b;</i> 首页 
<span class="c-gray en">&gt;</span>
 资讯管理 <span class="c-gray en">&gt;</span>
  资讯列表 
  <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:window.location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a>
  <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:window.history.forward();" title="前进" ><i class="icon-arrow-right"></i></a>
  <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:window.history.back();" title="后退" ><i class="icon-arrow-left"></i></a>
  </nav>
  
